body {
    background-color: #011044;
}


.logo-1 {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.navUl {
    background-color: #022ab8;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgb(14, 13, 13);
}

.navUl:hover {
    background-color: #011d83;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgb(255, 255, 255);
    cursor: pointer;
    transition: 0.5s;
}


.navlist .nav-link {
    color: #ffffff;
    font-size: 20px;
    align-items: center;
}

.navlist {
    align-items: center;
}

.navlist .btn {
    white-space: nowrap;
}


.btn {
    background-color: #570133;
    border-radius: 10px;
    border: 2px solid rgb(255, 255, 255);
    color: rgb(255, 254, 254);
    /* box-shadow: 1px 1px 25px rgb(0, 0, 0); */

}

.btn:hover {
    border-radius: 10px;
    border: 2px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    background-color: #f887c9;
    transition: 0.5s;
    cursor: pointer;
    box-shadow: 5px 5px 25px rgb(255, 255, 255);

}

.heading-2 {
    color: #000000;

}

.heading-2:hover {
    color: #020a50;
    animation-name: pulse;
    animation-duration: 2s;
    cursor: pointer;
}

.heading-5 {
    color: #080808;

}

/* .heading-5:hover{
    animation-name: pulse;
    animation-duration: 2s;
    cursor: pointer;
} */


.year-img {
    border: 2px solid black;
    width: 500px;
    height: 500px;
    border-radius: 300px;
    box-shadow: 5px 5px 15px rgb(131, 1, 1);

}

.year-img:hover {
    transform: scale(1.05);
    box-shadow: 5px 5px 25px rgb(255, 255, 255);
    cursor: pointer;
    animation-name: pulse;
    animation-duration: 2s;
}

/* .right-col {
    background-color: #8591ff;
    width: 600px;
    height: 650px;
    border-radius: 400px;
} */

.highlights {
    font-size: 35px;
    font-style: bold;
    background-color: #4b3685;
    color: #ffffff;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 25px;

}

.highlights:hover {
    font-size: 40px;
    font-style: bold;
    background-color: #0e0253;
    color: #fcfafa;
    cursor: pointer;
    transition: 0.5s;
    border: 2px solid rgb(195, 165, 252);


}

.second-middle-row {
    background-color: #afb4fc;
    border: 3px solid rgb(0, 4, 255);
    border-radius: 10px;
}

.card-title {
    color: #fffcfc;
}

.card-text {
    color: #ffffff;
}

.card {
    background-color: #0a0022;
    border-radius: 10px;
    box-sizing: border-box;
}

.card:hover {
    background-color: #2a2a47;
    border-radius: 10px;
    box-sizing: border-box;
    cursor: pointer;
    animation-name: pulse;
    animation-duration: 2s;
}
.header-row {
    background-color: #afb4fc;
    border: 3px solid rgb(0, 4, 255);
    border-radius: 10px;
}

.third-row {
    background-color: #afb4fc;
    border: 3px solid rgb(0, 4, 255);
    border-radius: 10px;
}
.middle-row {
    background-color: #afb4fc;
    border: 3px solid rgb(0, 4, 255);
    border-radius: 10px;
}
.section-services {
    background-color: #afb4fc;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 5px 5px 15px rgb(3, 1, 131);
    padding: 30px;

}

.section-services:hover {
    background-color: #7d85fc;
    box-shadow: 5px 5px 25px rgb(255, 255, 255);
    cursor: pointer;
    animation-name: zoom-In;
    animation-duration: 2s;
}


.paras {
    font-size: 25px;
}

.img {
    width: 300px;
    border-radius: 20px;
    border: 3px solid rgb(0, 4, 255);

}
.img:hover {
    transform: scale(1.05);
    box-shadow: 5px 5px 25px rgb(21, 1, 110);
    cursor: pointer;
    animation-name: pulse;
    animation-duration: 2s;
}
.img3 {
    width: 300px;
    border-radius: 20px;
    border: 3px solid rgb(0, 4, 255);

}
.img3:hover {
    transform: scale(1.05);
    box-shadow: 5px 5px 25px rgb(21, 1, 110);
    cursor: pointer;
    animation-name: pulse;
    animation-duration: 2s;
}
.footer {
    background-color: rgb(255, 0, 157);

    height: 180px;
    margin-bottom: 25px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 10px;
    border: 2px solid black;

}

.github-icon {
    width: 30px;
    height: 30px;
    border-radius: 50px;
    margin-left: 5px;
}

.footer-para {
    color: #ffffff;
    font-size: 15px;
}

.footer-para:hover {
    color: #000000;
    cursor: pointer;
    transition: 0.5s;

}

.e-para {
    color: #fdfafa;
    text-align: center;
}

.tag {
    color: #fcfafa;
    text-decoration: none;
}



@media only screen and (max-width: 515px) {
    .year-img{
        width: 250px;
        height: 250px;
        border-radius: 150px;
    }
}

@media only screen and (max-width : 317px){
    .img3 {
    width: 200px;
    border-radius: 20px;
    border: 3px solid rgb(0, 4, 255);

}
}@media only screen and (max-width : 298px){
    .img {
    width: 200px;
    border-radius: 20px;
    border: 3px solid rgb(0, 4, 255);

}
}

@media only screen and (max-width: 272px) {
    .year-img{
        width: 150px;
        height: 150px;
        border-radius: 100px;
    }
}